* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: -60px;
  margin-right: -40px;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(6, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(7, 6, 70, 1) 0%,
    rgba(23, 22, 71, 1) 0%,
    rgba(9, 7, 40, 1) 58%,
    rgba(2, 0, 36, 1) 100%
  );
}

h1 {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding-top: 6rem;
  padding-right: 5rem;
  font-family: "Secular One";
  font-size: 3.75rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.06em;
}
h2 {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 1rem 4.5rem 11rem 4em;
  font-family: "Lora";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5em;
  color: #ffd029;
}
/* #region Planets */

#solar-system {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 6rem;
}

#solar-system button {
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
}

#solar-system button:hover {
  transform: scale(1.6);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#solar-system button#mercury:hover,
#solar-system button#venus:hover,
#solar-system button#earth:hover,
#solar-system button#mars:hover {
  transform: scale(2);
  animation: biggerPulse 1.5s infinite;
}

@keyframes biggerPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

#sun {
  position: absolute;
  background-color: #ffd029;
  box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.2);
  height: 71.875rem;
  width: 77.875rem;
  top: -17.625rem;
  left: -1180px;
  z-index: 2;
}

#mercury {
  height: 0.875rem;
  width: 0.875rem;
  background-color: #888888;
}

#venus {
  height: 1.625rem;
  width: 1.625rem;
  background-color: #e7cdcd;
}

#earth {
  height: 1.75rem;
  width: 1.75rem;
  background-color: #428ed4;
}

#mars {
  height: 0.875rem;
  width: 0.875rem;
  background-color: #ef5f5f;
}

#jupiter {
  height: 11.25rem;
  width: 11.25rem;
  background-color: #e29468;
}

#saturn {
  height: 9rem;
  width: 9rem;
  background-color: #c7aa72;
}

#rings-of-saturn {
  display: block;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(-30deg);
  height: 5.5px;
  width: 13.625rem;
  border-radius: 50%;
  margin: 0;
  margin-left: -2.5rem;
}

#uranus {
  height: 66px;
  width: 66px;
  background-color: #c9d4f1;
}

#neptune {
  height: 4.125rem;
  width: 4.125rem;
  background-color: #7a91a7;
}

#overlay {
  overflow-y: overlay;
  overflow-x: hidden;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(6, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(7, 6, 70, 1) 0%,
    rgba(23, 22, 71, 1) 0%,
    rgba(9, 7, 40, 1) 58%,
    rgba(2, 0, 36, 1) 100%
  );
  z-index: 2;
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#x {
  position: absolute;
  top: 3.125rem;
  right: 4.375rem;
  background-color: transparent;
  border: none;
  font-size: 4.375rem;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
}

#x:hover {
  color: #ffd029;
}

#overlay-content {
  max-width: 640px;
  margin: auto;
  align-items: flex-start;
  color: white;
  font: 18px;
  font-family: "Roboto Condensed", sans-serif;
}

#overlay-content .latin__name {
  display: flex;
  justify-content: flex-start;
  font-size: 60px;
  line-height: 60px;
  padding-top: 4rem;
}

#overlay-content .planet__name {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding: 10px 31.4rem 1rem 0;
  display: block;
}

#overlay-content .planet__description {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 30.6px;
  margin-top: 10px;
}

#overlay-content .line2,
#overlay-content .line1 {
  margin-top: 10px;
  border-color: rgba(255, 255, 255, 0.205);
}

.column1 {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
}

.row1,
.row2 {
  display: flex;
  line-height: 25px;
}

.planet__circumference,
.planet__distance,
.planet__maxTemp,
.planet__minTemp {
  flex: 1;
  margin: 10px;
}

.row-moon {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.planet__moons {
  display: flex;
  flex-direction: column;
}

button[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgba(117, 110, 255, 0.644);
  color: white;
  padding: 0.5em;
  border-radius: 0.25em;
  white-space: nowrap;
  z-index: 2;
  font-size: 12px;
}

button:hover::after {
  content: "";
  z-index: 0;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background: #ffffff;
  opacity: 0.9;
  filter: blur(2px);
}

#star-1 {
  transform: translate(14rem, 14em);
}

#star-2 {
  transform: translate(12rem, 20em);
}

#star-3 {
  transform: translate(19rem, 22em);
  opacity: 0.5;
}

#star-4 {
  transform: translate(10rem, 30em);
}

#star-5 {
  transform: translate(9rem, 33em);
}

#star-6 {
  transform: translate(17rem, 34em);
}

#star-7 {
  transform: translate(20rem, 30em);
}

#star-8 {
  transform: translate(23rem, 24em);
}

#star-9 {
  transform: translate(26rem, 20em);
}

#star-10 {
  transform: translate(36rem, 21em);
}

#star-11 {
  transform: translate(40rem, 17em);
}

#star-12 {
  transform: translate(40rem, 28em);
}

#star-13 {
  transform: translate(41rem, 33em);
}

#star-14 {
  transform: translate(43rem, 34em);
}

#star-15 {
  transform: translate(50rem, 27em);
}

#star-16 {
  transform: translate(55rem, 32em);
}

#star-17 {
  transform: translate(62rem, 30em);
}

#star-18 {
  transform: translate(66rem, 29em);
}

#star-19 {
  transform: translate(61rem, 25em);
}

#star-20 {
  transform: translate(60rem, 22em);
}

#star-21 {
  transform: translate(62rem, 15em);
}

#star-22 {
  transform: translate(59rem, 10em);
}

#star-23 {
  transform: translate(66rem, 10em);
}

#star-24 {
  transform: translate(67rem, 16em);
}

#star-25 {
  transform: translate(73rem, 13em);
}

#star-26 {
  transform: translate(70rem, 8em);
}

#star-27 {
  transform: translate(68rem, 22em);
}

#star-28 {
  transform: translate(75rem, 22em);
}

#star-29 {
  transform: translate(72rem, 26em);
}

#star-30 {
  transform: translate(76rem, 29em);
}

#star-31 {
  transform: translate(79rem, 3em);
}

#star-32 {
  transform: translate(72rem, 30em);
}

#star-33 {
  transform: translate(70rem, 33em);
}

#star-34 {
  transform: translate(77rem, 34em);
}

#star-35 {
  transform: translate(77rem, 34em);
}

#star-36 {
  transform: translate(52rem, 9em);
}

.half__planet {
  position: fixed;
  height: 71.875rem;
  width: 77.875rem;
  top: -17.625rem;
  left: -1180px;
  z-index: 2;
  border-radius: 50%;
}
