* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: -60px;
  margin-right: -40px;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(6, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(7, 6, 70, 1) 0%,
    rgba(23, 22, 71, 1) 0%,
    rgba(9, 7, 40, 1) 58%,
    rgba(2, 0, 36, 1) 100%
  );
}

h1 {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding-top: 6rem;
  padding-right: 5rem;
  font-family: "Secular One";
  font-size: 3.75rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.06em;
}
h2 {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 1rem 4.5rem 11rem 4em;
  font-family: "Lora";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5em;
  color: #ffd029;
}
/* #region Planets */

#solar-system {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 6rem;
}

#solar-system button {
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
}

#solar-system button:hover {
  transform: scale(1.6);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#solar-system button#mercury:hover,
#solar-system button#venus:hover,
#solar-system button#earth:hover,
#solar-system button#mars:hover {
  transform: scale(2);
  animation: biggerPulse 1.5s infinite;
}

@keyframes biggerPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

#sun {
  position: absolute;
  background-color: #ffd029;
  box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.2);
  height: 71.875rem;
  width: 77.875rem;
  top: -17.625rem;
  left: -1180px;
  z-index: 2;
}

#mercury {
  height: 0.875rem;
  width: 0.875rem;
  background-color: #888888;
}

#venus {
  height: 1.625rem;
  width: 1.625rem;
  background-color: #e7cdcd;
}

#earth {
  height: 1.75rem;
  width: 1.75rem;
  background-color: #428ed4;
}

#mars {
  height: 0.875rem;
  width: 0.875rem;
  background-color: #ef5f5f;
}

#jupiter {
  height: 11.25rem;
  width: 11.25rem;
  background-color: #e29468;
}

#saturn {
  height: 9rem;
  width: 9rem;
  background-color: #c7aa72;
}

#rings-of-saturn {
  display: block;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(-30deg);
  height: 5.5px;
  width: 13.625rem;
  border-radius: 50%;
  margin: 0;
  margin-left: -2.5rem;
}

#uranus {
  height: 66px;
  width: 66px;
  background-color: #c9d4f1;
}

#neptune {
  height: 4.125rem;
  width: 4.125rem;
  background-color: #7a91a7;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(6, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(7, 6, 70, 1) 0%,
    rgba(23, 22, 71, 1) 0%,
    rgba(9, 7, 40, 1) 58%,
    rgba(2, 0, 36, 1) 100%
  );
  z-index: 2;
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#x {
  position: absolute;
  top: 3.125rem;
  right: 4.375rem;
  background-color: transparent;
  border: none;
  font-size: 4.375rem;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
}

#x:hover {
  color: #ffd029;
}

#overlay-content {
  max-width: 640px; /* Adjust the maximum width as needed */
  margin: auto; /* Center the overlay */
  transform: translateY(-80px);
  color: white;
  font: 18px;
  font-family: Roboto Condensed;
}

#overlay-content h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 60px;
  line-height: 60px;
  padding-top: 4rem;
}

#overlay-content h2#planet-name {
  font-family: Lora;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding: 10px 31.4rem 1rem 0;
}

#planet-description {
  color: white;
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 30.6px;
  margin-top: 10px;
}

.line2 {
  margin-top: 20px;
}
